.homePageDiv {
    // margin-top: 56px;
    height: 100%;
    // padding-top: 65px;

    .homePageBody {
        padding-top: 75px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }
}