.pageFooter {
    padding: 1rem;
    padding-top: 0;
    font-size: small;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    .nameAndCopyDiv {
        justify-self: left;
        text-align: left;
    }

    .authorName {
        margin-top: 0;
        font-size: .7rem;
    }

    .footerCopyright {
        margin-bottom: 0;
    }

    .contactList {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
        // grid-gap: 2rem;
    }

    a {
        color: #100c08;
        font-size: 22px;
        transition: ease .2s;
    }

    a:hover {
        opacity: .6;
    }

    li {
        margin: 0 .5rem;
    }

    .linkedinItem {
    }

    .githubItem {
    }

    .mailItem {

    }

    .footerCopyright {
        font-size: smaller;
    }
}