.inputAreaDiv {
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    width: 100%;

    // -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    form {
        max-width: 350px;
        margin: 1rem auto;
        padding: 1rem;
        // height: 100%;

        // * {
        //     display: block;
        //     width: 80%;
        // }

        .loginedUserNameInput {
            background-color: #dddddd;
        }

        input {
            margin: 0 auto;
            margin-bottom: .5rem;
            font-size: 16px;
            padding: .2rem;

            display: block;
            width: 80%;
        }

        textarea {
            margin: 0 auto;
            height: 80px;
            margin-bottom: .5rem;
            font-size: 16px;
            padding: .2rem;

            display: block;
            width: 80%;
        }

        button {
            margin: 0 auto;
            width: 82%;
        }
    }
}