.commentListWrapper {
    margin-top: 56px;
    padding: 2rem;
    overflow: scroll;
    // height: 100%;
    // background-image: url("../../images/greeting.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    background:url("../../images/greeting.jpg") rgba(130, 130, 130, 0.8);
    background-size:cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;


    @media screen and (max-width: 599px) {
        margin-top: 48px;
    }

    .commentList {
        list-style-type: none;
        padding-left: 0;
        margin: auto;
        max-width: 500px;
        text-align: left;

        li {
            // border: gray solid 1px;
            padding: .25rem;
            margin-bottom: .8rem;
            background-color: white;

            border-radius: 10px;

            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.05);


            p {
                margin: .5rem;
                line-height: 1.5;
            }

            .commentData {
                font-size: .75rem;

                * {
                    margin-right: .5rem;
                }
            }

        }
    }
}