.commentListWrapper {
    background-color: grey;
    padding: 2rem;
    height: 100%;

    .commentList {
        list-style-type: none;
        padding-left: 0;
        margin: auto;
        max-width: 500px;
        text-align: left;

        li {
            border: gray solid 1px;
            padding: .25rem;
            margin-bottom: .5rem;
            background-color: white;

            p {
                margin: .5rem;
            }

            .commentData {
                font-size: .75rem;

                * {
                    margin-right: .5rem;
                }
            }

        }
    }
}