.signupPageDiv {
    // height: 100vh;

    .signupPageBody {
        padding: 2rem;
        padding-top: 75px;
        // height: 100%;

        @media screen and (max-width: 599px) {
            padding-top: 65px;
        }

        p {
            line-height: 1.5;
        }

        .googleAccount,
        .pleaseSignup {
            font-weight: 700;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }
        }
    }
}